<div class="w-100 d-flex flex-column" style="height: 100%; overflow-y: scroll;">
   
 
    <div class="border-bottom p-3 d-flex justify-content-between" style="background-color: white;">
        <h5 class="m-0">Appointments with clerks</h5>
        <button class="btn btn-primary">Create new appointment</button>
    </div>

    <div class="w-100 p-3 d-flex flex-grow-1" style="overflow-y: scroll;">
        <full-calendar #calendar class="w-100 " [options]="calendarOptions"></full-calendar>
    </div>
    
</div>