.map-container{
    width: 100%;
    height: 100%;
}

.popup-card {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1060;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }