<div class="w-100 d-flex flex-column" style="height: 100%; ">
  
  <div class="px-3">
    <div class="form-group w-100 position-relative mb-4" style="box-sizing: border-box;  ">
      <label for="searchInput"></label>
      <input
        type="text"
        class="form-control py-3 px-4"
        id="searchInput"
        style="font-size: medium;"
        placeholder="Search for address, city, zipcode, municipality, or region"
        name="search-vacant"
        [formControl]="searchControl"
        (focus)="showDropdown =true"
        (blur)="hideDropdown()"
      >
  

      @if((filteredSuggestions.length > 0 && showDropdown)){
        <ul style="z-index: 1050; overflow-y: auto;"
        class="list-group position-absolute w-100 shadow bg-white shadow"  >

          @for (suggestion of filteredSuggestions; track suggestion) {
            <li
              class="list-group-item list-group-item-action"
              (click)="selectSuggestion(suggestion)">
              <i class="bi me-2" [ngClass]="{
                'bi-house-door': suggestion.type === 'HOUSE',
                'bi-building': suggestion.type === 'BUILDING',
                'bi-signpost': suggestion.type === 'COTTAGE',
                'bi-shop': suggestion.type === 'COMMERCE_SPACE',
                'bi-geo-alt': ['REGION', 'MUNICIPALITY', 'CITY'].includes(suggestion.type)
              }"></i> 
              <span [innerHTML]="suggestion.highlighted"></span>
            </li>
          }
          
        </ul>
      }
      
    </div>
  </div>
  

  <div class="d-flex flex-grow-1 flex-xl-row flex-column" style="background-color: blue; min-height: 0;"> 
  
    <div class="d-flex flex-column" style="background-color: purple; min-width: 50%; min-height: 40%;">
      
        <div id="mape" style="width: 100%; height: 100%">
          <google-map #googleMap width="100%" height="100%" [options]="mapOptions">
            <!-- @for (realestate of realestates; track realestate.doc.dbId) {

              @if (realestate.marker.position) {
                <map-advanced-marker
                  [content]="realestate.marker.content ?? null"
                  [position]="realestate.marker.position"
                  (mapClick)="onMarkerClick($event, realestate)">  
                </map-advanced-marker>
              }
            } -->

            @if(selectedRealestateMarker){
              <div class="popup-card" style="z-index: 1070;" [style.left.px]="popupPosition.x" [style.top.px]="popupPosition.y">
                <a>
                  <i class="bi me-2" [ngClass]="{
                    'bi-house-door': selectedRealestateMarker.doc.type === 'HOUSE',
                    'bi-building': selectedRealestateMarker.doc.type === 'BUILDING',
                    'bi-signpost': selectedRealestateMarker.doc.type === 'COTTAGE',
                    'bi-shop': selectedRealestateMarker.doc.type === 'COMMERCE_SPACE',
                    'bi-geo-alt': ['REGION', 'MUNICIPALITY', 'CITY'].includes(selectedRealestateMarker.doc.type)
                  }"></i> {{selectedRealestateMarker.doc.address}} 
                </a>
              </div>
  
            }

          </google-map>

        
        </div>

       
    
    </div>
    
    <div class="border flex-grow-1" style="background-color: white; box-sizing: border-box; overflow-y: scroll;">
      <div class="container-fluid g-0 p-3">
        <div class="row g-3">
          
          <!-- <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div> -->
          @for (realestate of realestates; track realestate.doc.dbId) {
            <div class="col-sm-6">
              <div class="p-2 rounded border"s>
                <div id="{{'carousel' + realestate.doc.dbId}}" class="carousel slide" style="background-color: red;" >
                  <div class="carousel-indicators">
                    <button type="button" [attr.data-bs-target]="'#carousel' + realestate.doc.dbId"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" [attr.data-bs-target]="'#carousel' + realestate.doc.dbId"  data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" [attr.data-bs-target]="'#carousel' + realestate.doc.dbId"  data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="realestate1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="realestate2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="realestate3.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + realestate.doc.dbId"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + realestate.doc.dbId"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div >
                  {{realestate.doc.type}}
                  {{realestate.doc.address}}
                </div>
              </div>
            </div>
          }

          <!-- <div class="col-sm-6">
            <div class="p-2 rounded border"s>
              <div id="carouselExampleIndicators" class="carousel slide" style="background-color: red;" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="realestate1.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="realestate2.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="realestate3.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div >
                iksdebroa jebem ti mamu 16 23132432, neki okrug
              </div>
            </div>
          </div> -->





          
        
          

          <!-- <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        
          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>


          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        
          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>


          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        
          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>


          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        
          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>




          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          
          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div>
        

          <div class="col-sm-6">
            <div class="p-3 rounded border">
               iskde
            </div>
          </div> -->



        </div>
      </div>
    </div>
  
  </div>
 
  
  

</div>


