<div class="w-100 h-100 d-flex flex-column">
    <div class="border-bottom p-3">
        <h5 class="m-0">Vacant households requests</h5>
    </div>

    <!-- <div class="d-flex w-100 flex-grow-1 align-items-center justify-content-center" >
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div> -->

    <div class="d-flex flex-row gap-3 p-3 border-bottom">
        
        
        <div>
            <label for="statusSelect" class="form-label">Status</label>
            <select class="form-select" id="statusSelect" aria-label="Select request status">
              <option selected>None</option>
              <option value="1">Pending</option>
              <option value="2">Accepted</option>
              <option value="3">Rejected</option>
            </select>
        </div>

        <div>
            <label for="statusSelect" class="form-label">Filter type</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Submitted at</option>
                <option value="1">Processed at</option>
            </select>
        </div>
        

        <div>
            <label for="statusSelect" class="form-label">Order</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Descending</option>
                <option value="1">Ascending</option>
            </select>
        </div>
    


        
        
    </div>


    <div class="d-flex flex-column flex-grow-1 px-2 pt-2" style="overflow-y: scroll;" >



        @for(item of kurac; track $index){
            <div class="p-2 mb-2 rounded border shadow d-flex flex-md-row justify-content-between flex-column">

                <div>
                    <div class="d-flex flex-row mb-1 "> 
                        <i class="bi me-2 bi-building"></i> 
                        <p class="m-0" style="font-size: medium;">Apartment 13, Djure Jaksica 52, Aleksandrovo, Opstina Nova Crnja, Srednjobanatski okrug</p>
                        <!-- <p class="m-0">Apartment 13, Djure Jaksica 52, Aleksandrovo, Opstina Nova Crnja, Srednjobanatski okrug</p> -->
                    </div>
                    <p class="m-0" style="font-size: medium;">PENDING</p>
                </div>
    
    
    
                <div class="d-flex flex-row flex-md-column gap-3 gap-md-0 mt-3 mt-md-0">
                    <small class="m-0" >Submitted at: NEKO VREME</small>
                    <small class="m-0" >Processed at: NEKO VREME</small>
                </div>
         
            </div>
        }
        
<!-- 
        <i class="bi me-2" [ngClass]="{
            'bi-house-door': suggestion.type === 'HOUSE',
            'bi-building': suggestion.type === 'BUILDING',
            'bi-signpost': suggestion.type === 'COTTAGE',
            'bi-shop': suggestion.type === 'COMMERCE_SPACE',
            'bi-geo-alt': ['REGION', 'MUNICIPALITY', 'CITY'].includes(suggestion.type)
          }"></i>  -->
    </div>


    <!-- <div class="d-flex justify-content-center align-items-center">
        <nav aria-label="iksdebro" class="pt-4">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" role="button" (click)="changePage(realestatePagination.currentPage - 1)" [ngClass]="{'disabled': realestatePagination.currentPage === 1}">Previous</a>
            </li>
            @for (pageNum of realestatePagination.pages; track $index) {
              <li class="page-item" role="button" (click)="changePage(pageNum)" [ngClass]="{'active': realestatePagination.currentPage === pageNum}"><a class="page-link">{{pageNum}}</a></li>
            }
            <li class="page-item">
              <a class="page-link" role="button" (click)="changePage(realestatePagination.currentPage + 1)"[ngClass]="{'disabled': realestatePagination.currentPage === realestatePagination.totalPages}">Next</a>
            </li> 
          </ul>
        </nav>
    </div> -->

    <div class="d-flex justify-content-center align-items-center border-top">
        <nav aria-label="iksdebro" class="pt-4">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" role="button">Previous</a>
            </li>
        
              <li class="page-item" role="button"  ><a class="page-link">1</a></li>
              <li class="page-item" role="button"  ><a class="page-link">2</a></li>
              <li class="page-item" role="button"  ><a class="page-link">3</a></li>

            <li class="page-item">
              <a class="page-link" role="button">Next</a>
            </li> 
          </ul>
        </nav>
    </div>

</div>
