.price-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: rek;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    z-index: 100000;
  }
  

  .price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
    z-index: 100000;
}

#googleMap{
    height: 100%;
}
