<div class="w-100 d-flex flex-column" style="height: 100%; overflow-y: scroll;">
   
 
    <div class="border-bottom p-3 d-flex justify-content-between" style="background-color: white;">
        <h5 class="m-0">Clerk appointments</h5>

        @if (clerk) {
            <div class="d-flex flex-row align-items-center pt-1">
                <img [src]="envProfileImg + clerk.id" alt="profileImg" width="40" height="40" class="rounded-circle me-2">
                <div class="d-flex flex-column">
                    <span>{{clerk.name}} {{clerk.lastname}}</span>
                    <span>{{clerk.email}}</span>
                </div>
            </div> 
        }
        
    </div>
    
  
    <div class="w-100 p-3 d-flex flex-grow-1" style="overflow-y: scroll;">
  
        <full-calendar #calendar class="w-100 " [options]="calendarOptions"></full-calendar>
 
        
    </div>


    <ng-template #appointmentDialog let-modal>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm appointment selection</h1>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        @if(selectedDate && clerk){<div class="modal-body d-flex justify-content-center align-items-center">
             Are you sure you want to create appointment with {{clerk.name}} {{clerk.lastname}} with start at {{selectedDate.startDate  | date: 'dd/MM/yyyy HH:mm' }} and end at {{selectedDate.endDate  | date: 'dd/MM/yyyy HH:mm' }}

        </div>}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="createAppointment(modal)">Submit</button>
        </div>
  </ng-template>
    
</div>