:host {
    display: block;
    width: 100%;
    height: 100%;
  }
  

.dropdown-menu {
  position: absolute !important;
  z-index: 1050;
  width: 100%;
}

.dropdown-item.active {
  background-color: #007bff;
  color: white;
}