<div style="height: 100%;" class="d-flex justify-content-center align-items-center">
    
  <div class="border p-3" style="width: 19rem;">

    <form [formGroup]="loginForm" (ngSubmit)="loginClick()" novalidate>
        
      <h4 class="card-title mb-4">Login</h4>
        
      <div class="form-group mb-2">
          <label for="email">Email address</label>
          <input type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                formControlName="email"
                [ngClass]="{'is-invalid': loginClicked && isControlInvalid('email')}"
                required>
                
          <div
                class="invalid-feedback"
                *ngIf="loginClicked && isControlInvalid('email')" class="invalid-feedback">
                {{getControlError('email')}}
          </div>
    
      </div>
      
      <div class="form-group mb-1">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            formControlName="password"
            [ngClass]="{'is-invalid': loginClicked && loginForm.get('password')?.invalid}"
            required>

            <div
                class="invalid-feedback"
                *ngIf="loginClicked && isControlInvalid('password')" class="invalid-feedback">
                {{getControlError('password')}}
          </div>
      </div>
      <p class="fs-7">Don't have an account?<a routerLink="../registration" routerLinkActive="active" class="link-offset-2 link-underline link-underline-opacity-0"> Register here</a></p>

        
      <button class="btn btn-primary w-100" type="submit" [disabled]="loading">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>

  </form>

        
  </div>

</div>
    
