<div class="w-100 d-flex flex-column" style="height: 100%; overflow-y: scroll;">
   
 
    <div class="border-bottom p-3" style="background-color: white;">
        <h5 class="m-0">Household claim request</h5>
    </div>
    

    @if(requestDetails){
        

        @if(requestDetails.isError && requestDetails.error?.message == "Request doesn't exist"){
            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                {{requestDetails.error?.message}}    
            </div>
        }@else {
            <div class="container-fluid g-0 m-0 p-0 h-100 d-flex flex-column">
        
                <div class="row g-2 m-0 px-2 pb-3 pt-2">
                    <div class="row g-0 m-0 px-1 pt-2">
                        <div class="p-3 rounded border shadow ">
        
        
                            <div class="row p-0 m-0">
                                <div class="col-12 d-flex p-0 m-0">

                                    @if(requestDetails.data){

                                    
                                        <dl class="m-0 col-12 row" >
                                            <div class="col-md-6 col-12">
                                                
                                                <div class="mb-3">
                                                    <dt class="fs-4 fw-normal">Address</dt>
                                                    <div class="d-flex flex-row align-items-center">  
                                                    
                                                        <i class="bi me-2" [ngClass]="{
                                                            'bi-house-door': requestDetails.data.realEstateType === 'HOUSE',
                                                            'bi-building': requestDetails.data.realEstateType === 'BUILDING',
                                                            'bi-signpost': requestDetails.data.realEstateType === 'COTTAGE',
                                                            'bi-shop': requestDetails.data.realEstateType === 'COMMERCE_SPACE'
                                                            }"></i> 
                                                        <p class="card-title ps-2 m-0">{{requestDetails.data.address}}</p>
                                                
            
                                                        <a class="ms-3" (click)="navigate()" >
                                                            <button class="btn btn-primary">View household</button>
                                                        </a>
            
                                                    </div>
                                                    
                                                </div>
                                                <div class="mb-3">
                                                    <dt class="fs-4 fw-normal">Request status</dt>
                                                    <dd>{{requestDetails.data.requestStatus}}</dd>
                                                </div>
                                                <div class="mb-3">
                                                    <dt class="fs-4 fw-normal">Request type</dt>
                                                    <dd>{{requestDetails.data.requestType}}</dd>
                                                </div>
                                                <div class="mb-3">
                                                    <dt class="fs-4 fw-normal">Request submitted time</dt>
                                                    <dd>{{requestDetails.data.requestSubmitted | date: 'dd/MM/yyyy HH:mm:ss'}}</dd>
                                                </div>
            
                                                <div class="mb-3">
                                                    <dt class="fs-4 fw-normal mb-2">Requester</dt>
                                                    
                                                    <div class="d-flex flex-row align-items-center pt-1">
                                                        <img [src]="envProfileImg + requestDetails.data.requester.id" alt="profileImg" width="40" height="40" class="rounded-circle me-2">
                                                        <div class="d-flex flex-column">
                                                            <span>{{requestDetails.data.requester.name}} {{requestDetails.data.requester.lastname}}</span>
                                                            <span>{{requestDetails.data.requester.email}}</span>
                                                            
                                                        </div>
                                                    </div> 
                                                
                                                </div>
                                                

                                                

                                                <div class="mb-3">
            
                                                    <dt class="fs-4 fw-normal mb-2">Request files</dt>
            
                                                    @for (filePath of requestDetails.data.proof_images; track filePath){
                                                        <div class="d-flex flex-row align-items-center pt-1">
                                                            <span class="me-3">{{filePath}}</span>
                                                            <a [href]="envRequestFile + requestDetails.data.id + '/' + filePath" download>
                                                                <button class="btn btn-primary">Download</button>
                                                            </a>
                                                        </div> 
                                                    }
                                                    @for (filePath of requestDetails.data.proof_pdfs; track filePath){
                                                        <div class="d-flex flex-row align-items-center pt-1">
                                                            <span class="me-3">{{filePath}}</span>
                                                            <a [href]="envRequestFile + requestDetails.data.id + '/' + filePath" download>
                                                                <button class="btn btn-primary">Download</button>
                                                            </a>
                                                        </div> 
                                                    }
                                                    
                                                
                                                </div>
                                                
                                            </div>
                                            
            
                                            @if(requestDetails.data.requestStatus !== 'PENDING'){
                                                <div class="col-lg-6 col-12">
                                                    
                                                
                                                    <div class="mb-3">
                                                        <dt class="fs-4 fw-normal">Request processed time</dt>
                                                        <dd>{{requestDetails.data.requestProcessed | date: 'dd/MM/yyyy HH:mm:ss'}}</dd>
                                                    </div>
                                                    <div class="mb-3">
                                                        <dt class="fs-4 fw-normal mb-2">Reviewing admin</dt>
                                                        
                                                        <div class="d-flex flex-row align-items-center pt-1">
                                                            <img [src]="envProfileImg + requestDetails.data.reviewingAdmin.id" alt="profileImg" width="40" height="40" class="rounded-circle me-2">
                                                            <div class="d-flex flex-column">
                                                                <span>{{requestDetails.data.reviewingAdmin.name}} {{requestDetails.data.reviewingAdmin.lastname}}</span>
                                                                <span>{{requestDetails.data.reviewingAdmin.email}}</span>
                                                                
                                                            </div>
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    @if(requestDetails.data.denialReason){
                                                        <div class="mb-3">
                                                            <dt class="fs-4 fw-normal">Decline reason</dt>
                                                            <dd class="fs-6">{{requestDetails.data.denialReason}}</dd>    
                                                        </div>
                                                    }
                                                    
                                                        
                                                    
                                                    
                                                    
                                                </div>
                                            }
                                        
            
                                            
            
                                        </dl>
                                    }
                                    
                                </div>
                            </div>
                            

                            @if(this.jwtService.hasRole(['SUPERADMIN', 'ADMIN'])){

                                @if(this.requestDetails.data && this.requestDetails.data.requestStatus === "PENDING"){
                                    <div class="row p-0 m-0">


                                        <div class="d-flex align-items-center justify-content-center">
                                            @if(isLoadingAccept){
                                                        
        
                                                <div class="w-100 d-flex justify-content-center align-items-center">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                </div>
                                            }@else {
                                                <div class="d-flex gap-2">
                                                    <button (click)="openDenyDialog()" class="btn btn-primary">Deny request</button>
                                                  
                                                    <button (click)="acceptRequest()" class="btn btn-primary">Accept request</button>
                                                </div>
                                            }
                                        </div>
                                       
                                    </div>
                                }
                                
                            }
                            
                            
                            
        
                        </div>
                    </div>    
    
                </div>
    
                
                <ng-template #denyDialog let-modal>
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Please input the reason for denying the request</h1>
                      <button type="button" class="btn-close" aria-label="Close" (click)="resetAndDismiss(modal)"></button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                       
                          
                            
                        <form [formGroup]="form">
                            <textarea rows="10" class="form-control" formControlName="reason"></textarea>
                        </form>
                          
        
        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="resetAndDismiss(modal)">Cancel</button>
                      <button type="button" class="btn btn-primary" (click)="denyRequest(modal)">Submit</button>
                    </div>
              </ng-template>
               
                    
                
        
            </div>
        }
        
    }@else{
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
    }


</div>